* {
    border-radius: 7px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: black;
    color: #c4b7d1;
    padding: 20px;
}

h1,
h2 {
    margin: 0px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clickConfig,
.status,
.hotkeys {

    flex-wrap: wrap;
    background-color: #1a1a1a;
    border-width: 2px;
    border-style: solid;
    border-color: #331e48;
}




#state {
    color: #78ff84;
}

.title {
    display: flex;

}

.label {
    display: flex;
    align-items: center;

    gap: 10px;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;



}

.rightColumn {
    display: flex;
    flex-direction: row;
    gap: 25px;


}

.clickConfig {
    min-width: 424px;
    display: flex;
    flex-direction: column;
    padding: 35px;

}

.status,
.hotkeys {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 17px;
    font-size: 16px;
    font-weight: 600;
}

.status-row {
    display: flex;
    justify-content: space-between;



}


.hotkeys button {
    background-color: #0a0a0a;
    color: white;
    border: 1px solid #2c333e;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.hotkeys-row {
    display: flex;
    justify-content: space-between;

}


.h2Logo {
    display: flex;
    align-items: center;
    gap: 8px;
}



.h1Icon {
    width: 50px;
    min-width: 50px;

}

.h2Icons {
    width: 25px;

}

.icons {
    width: 17px;
}

.configGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* two equal columns */
    gap: 20px;
    /* space between columns and rows */
    margin-top: 20px;
}

.configItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* space between label and input */
}

.configItem label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;

    /* AccentColor for labels */
}


.configItem select,
input {
    width: 100%;
    padding: 12px 14px;
    background-color: #0a0a0a;
    /* WindowBackground */
    border: 1px solid #2c333e;
    /* OptionsBorder */
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}