* {
    border-radius: 7px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    background-color: black;
    color: #c4b7d1;
    padding: 20px;
}

h1,
h2 {
    margin: 0px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.clickConfig,
.status,
.hotkeys {

    flex-wrap: wrap;
    background-color: #1a1a1a;
    border-width: 2px;
    border-style: solid;
    border-color: #331e48;
}




#state {
    color: #78ff84;
}

.title {
    display: flex;

}

.label {
    display: flex;
    align-items: center;

    gap: 10px;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;



}

.rightColumn {
    display: flex;
    flex-direction: row;
    gap: 25px;


}

.clickConfig {
    min-width: 424px;
    display: flex;
    flex-direction: column;
    padding: 35px;

}

.clickConfig select,
input {
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.clickConfig input:hover {
    background-color: #331e48;
}

.clickConfig select:hover {
    background-color: #331e48;
}


.status,
.hotkeys {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 17px;
    font-size: 1rem;
    font-weight: 600;
}

.status-row {
    display: flex;
    justify-content: space-between;
    align-items: center
}


.hotkeys button {
    background-color: #0a0a0a;
    color: white;
    border: 1px solid #2c333e;
    font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.hotkeys button:hover {
    background-color: #331e48;
    transform: scale(1.05);
}

.hotkeys-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.h2Logo {
    display: flex;
    align-items: center;
    gap: 8px;
}



.h1Icon {
    width: 50px;
    min-width: 50px;

}

.h2Icons {
    width: 25px;

}

.icons {
    width: 17px;
}

.configGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* two equal columns */
    gap: 20px;
    /* space between columns and rows */
    margin-top: 20px;
}

.configItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* space between label and input */
}

.configItem label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;

    /* AccentColor for labels */
}


.configItem select,
input {
    width: 100%;
    padding: 12px 14px;
    background-color: #0a0a0a;
    /* WindowBackground */
    border: 1px solid #2c333e;
    /* OptionsBorder */
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.modal {
    pointer-events: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.modal.open {
    opacity: 1;
    z-index: 999;
    pointer-events: all;
}

.modal-inner {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 250px;
    padding: 20px 35px;

    background-color: #1a1a1a;
    border-width: 2px;
    border-style: solid;
    border-color: #331e48;


}

.modal-inner div {
    display: flex;
    gap: 15px;

}

.modal-inner button {

    padding: 7px 18px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}




#closeModal {
    background-color: #0a0a0a;
    color: white;
    border: 1px, solid, #2c333e;
}

#closeModal:hover {
    background-color: #2c333e;
    transform: scale(1.05);
}

#saveModal {
    background-color: #a551f5;
    color: white;
    border: 1px, solid, white;
}

#saveModal:hover {
    background-color: #bb75ff;
    transform: scale(1.05);
}

#hotkey {
    font-weight: 600;
    background-color: #331e48;
    border: 1px solid #2c333e;
    color: white;
    padding: 5px 15px;

}


select,
::picker(select) {
    appearance: base-select;
}



select::picker-icon {
    color: #bb75ff;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}



::picker(select) {
    border: none;
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
    opacity: 1;
}

::picker(select) {
    top: calc(anchor(bottom) + 10px);

}

option {
    gap: 20px;
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #2c333e;
    background: #0a0a0a;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.1s;
}

option:first-of-type {
    border-radius: 10px 10px 0 0;
}

option:last-of-type {
    border-radius: 0 0 10px 10px;
}

::picker(select) {
    border-radius: 10px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

option:hover {
    background: #331e48;
}

option::checkmark {
    display: none;
}


.clicked {
    border: 2px solid #bb75ff;
    box-shadow: 0 0 10px 2px rgba(187, 117, 255, 0.6);
    background-color: #331e48;
}